<div class="flex items-start">
  <h1 class="font-serif text-4xl">Investments</h1>
  <% if user_signed_in? %>
    <span class="ml-4 mt-2"><%= link_to 'Add New Investment', new_investment_path %></span>
  <% end %>
</div>
<p class="text-lg mt-0">I've been doing tiny investments in startups since 2021, primarily to just get my feet wet and to diversify my high-level personal finance holdings. Here are the investments I've made.</p>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Year</th>
      <th>Amount</th>
      <th>About</th>
    </tr>
  </thead>
  <tbody class="text-sm">
    <% @investments.each do |investment| %>
      <tr>
        <td class="px-2 py-3"><%= link_to investment.company, investment.link, class: "thick-link" %></td>
        <td><%= investment.year %></td>
        <td><%= number_to_currency(investment.amount, precision: 0) %></td>
        <td><%= investment.about %></td>
      </tr>
    <% end %>
  </tbody>
</table>