<% title @article.title %>

<div>
  <nav aria-label="breadcrumb">
    <%= link_to 'Articles', articles_path %> <span class="text-gold-400">⦂⦚</span>
  </nav>
  <h1 class="mt-2 mb-0 font-serif text-4xl"><%= @article.title %></h1>
  <span class="text-sm text-gray-500">
    <%= @article.publish_at.strftime("%B %d, %Y") %>
  </span>
  <% if user_signed_in? %>
  <span class="flex space-x-2">
    <%= link_to 'Edit', edit_article_path(@article), class: 'text-blue-500 no-thick-link' %>
    <span> &bull;</span>
    <%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'text-red-500' %>
  </span>
  <% end %>
</div>

<article>
  <%= markdown @article.body %>
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://joshpigford.com/articles/<%= @article.slug %>"
  },
  "headline": "<%= @article.title %>",
  "author": {
    "@type": "Person",
    "name": "Josh Pigford",
    "url": "https://joshpigford.com"
  },
  "datePublished": "<%= @article.publish_at.strftime("%Y-%m-%d") %>"
}
</script>