<div class="flex items-start mb-0">
  <h1 class="font-serif text-4xl">Projects</h1>
  <% if user_signed_in? %>
    <span class="ml-4 mt-2"><%= link_to 'Add New Project', new_project_path %></span>
  <% end %>
</div>
<p class="text-lg mt-0">I&apos;ve worked on (and continue to work on) an absurd number of things. Current tally? <%= @projects.length %> projects.</p>


<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Started</th>
      <th>Description</th>
      <th>What Happened</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="px-2 py-3">
          <%= link_to project.name, project_path(project) %>
        </td>
        <td><%= project.year %></td>
        <td><%= project.description %></td>
        <td><%= project.outcome %></td>
      </tr>
    <% end %>
  </tbody>
</table>