<%= form_with model: @podcast do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "appearance-none rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-none focus:ring-0 border-0" %>
  </div>

  <div class="mb-4">
    <%= form.label :link, class: "block text-sm font-bold mb-2" %>
    <%= form.url_field :link, class: "appearance-none rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-none focus:ring-0 border-0" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit form.object.new_record? ? "Add Podcast" : "Update Podcast", class: "bg-gold-500 hover:bg-gold-600 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>