<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Josh Pigford</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="dark:bg-black dark:text-white">
    <% if user_signed_in? %>
      <div class="absolute top-0 right-0 px-4 py-2 bg-gold-400 text-black">
        <%= button_to "Sign out", session_path, method: :delete %>
      </div>
    <% end %>
    <div class="md:flex items-start gap-4 p-8 md:py-20">
      <a href="/" class="text-gold-500 text-6xl font-semibold hover:text-gold-400 w-14 text-right">
        <%= random_symbol %>
      </a>
      <div>
        <header class="prose dark:prose-invert font-serif mb-10 max-w-none">
          <h1 class="text-6xl font-light tracking-tight mb-3">Josh Pigford</h1>

          <p class="text-xl">
            <a href="/">Home</a> / <a href="/">Articles</a> / <a href="/">Projects</a> / <a href="/">Investments</a> / <a href="/">Podcasts</a> / <a href="/">Reading</a> / <a href="/">Toys</a> / <a href="/">Keyboards</a>
        <div>
        <%= yield %>
        </div>
        <footer class="prose dark:prose-invert font-serif my-12 text-sm text-gray-400">
          <p>
            This thing is <a href="https://github.com/Shpigford/joshpigford">open source</a>, for better or worse.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
